<h3>Welocme {{username}}</h3>
<div>
    <h3>Connect to server</h3>
    <button (click)="connect()">Connect</button>
</div>
<div>
    <h3>Topic</h3>
    <div>
        <h5>Add new topic</h5>
        <input [(ngModel)]="newTopic" placeholder="Category name" type="text">
        <button (click)="onNewTopic()" type="button">Add category</button>
    </div>
    <div>
        <h5>Listen to</h5>
        <select [(ngModel)]="currentTopic">
            <option value={{topic}} *ngFor='let topic of topics'>
                {{topic}}
            </option>
        </select>
    </div>
</div>
<div>
    <div>
        <h3>Message</h3>
        <ul>
            <li *ngFor="let message of messages">
                <p>{{'Topic: ' + message.topic}}</p>
                <p>{{'Message: ' + message.text}}</p>
            </li>
        </ul>
    </div>
    <div>
        <input #message placeholder="messsage" type="text">
        <button (click)="publish(message.value)" type="button">Send</button>
    </div>
</div>